body {
    background-color: #ececec;
    color: #000000;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero-section {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.search-bar {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}

.search-input {
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 10px;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
}

.search-button i {
    filter: invert(100%);
   
}

.lupa-ikona {
    color: white !important;
}


/* Restaurant Cards */
/* Existing styles remain the same */
.restaurant-card {
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 992px) {
    .restaurant-card {
        max-width: 32%; /* Ovde postavljamo maksimalnu širinu kako bi stalo 3 kartice na velikim ekranima */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .restaurant-card {
        max-width: 48%; /* Za tablete, staje 2 kartice u redu */
    }
}

@media (max-width: 767px) {
    .restaurant-card {
        max-width: 100%; /* Za mobilne uređaje, 1 kartica po redu */
    }
}


.restaurant-card:hover {
    transform: scale(1.05);
}

.restaurant-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.restaurant-title {
    font-weight: bold;
    font-size: 22px;
    color: #000;
    border:none;
}

.card-body {
    
    padding-top: 10px;
}

.carousel-inner img {
    border-radius: 15px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.location i {
    margin-right: 5px;
}

.no-images {
    background-color: #e0e0e0;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d7d7d;
}
